<div class="container">
    <h2>Liste de mes logements</h2>
    <nav class="navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/logement-add">Ajouter</a>
            </li>
        </ul>
    </nav>
    
    <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Logement</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Type</th>
            <th scope="col">Surface</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="/piece?log_id=1" >Maison principale</a></td>
            <td>Place du peuple</td>
            <td>42000 Saint-étienne</td>
            <td>Maison</td>
            <td>85 m2</td>
            <td><a href="/logement-delete?log_id=1">Effacer</a>&nbsp;&nbsp;<a href="/logement-edit?log_id=1">Modifier</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><a href="/piece?log_id=2" >Maison de campagne</a></td>
            <td>Les champs élysées</td>
            <td>75000 Paris</td>
            <td>Appartement</td>
            <td>9 m2</td>
            <td><a href="/logement-delete?log_id=2">Effacer</a>&nbsp;&nbsp;<a href="/logement-edit?log_id=2">Modifier</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><a href="/piece?log_id=3" >Cabane</a></td>
            <td>Notre dame des landes</td>
            <td>00000 Non cartographié</td>
            <td>Appartement</td>
            <td>18 m2</td>
            <td><a href="/logement-delete?log_id=3">Effacer</a>&nbsp;&nbsp;<a href="/logement-edit?log_id=3">Modifier</a></td>
          </tr>
        </tbody>
      </table>
      <br/>
</div>