<div class="container">
    <div class="login">
        <form action="/newpasswd" class="px-4 py-3" method="post">
            <h1>Mot de passe oublié</h1>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1"> adresse e-mail :</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="user_email">
            </div>
            <button type="submit" class="btn btn-primary">envoyer e-mail</button>
        </form>
  </div>
</div>
