<div class="container">
    <h2>Ajout/Modification d'une piece</h2>

    <form action="/piece-save" method="post">
        <input type="hidden" name="piece_id" value="1">
        <div class="form-group row">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Nom piece</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="pce_nom" placeholder="Nom de la piece">
        </div>
        <div class="form-group row">
          <label for="exampleFormControlInput2" class="col-sm-2 col-form-label">Longueur</label>
          <input type="text" class="form-control" id="exampleFormControlInput2" name="pce_long" placeholder="longueur">
        </div>
        <div class="form-group row">
            <label for="exampleFormControlInput3" class="col-sm-2 col-form-label">Largeur</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" name="log_cp" placeholder="largeur">
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-primary">Annuler</button>
      </form>
      <br/>
</div>