RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !/public/css/
RewriteCond %{REQUEST_FILENAME} !/public/img/
RewriteCond %{REQUEST_FILENAME} !/public/js/
RewriteCond %{REQUEST_FILENAME} !/public/lib/
RewriteRule .* public/index.php
