<div class="container-fluid ">
    <div class="col-bg-12">
        <h1>Présentation</h1>
        <p>Eximendam nulla comes distinebatur memorabili dispersique longius fama Nebridius memorabili Gallum militaribus solent militaribus memorabili civitatem montium Caesarem contractis quo re solent gesta dispersique adsiduae Nebridius latrones et quoniam dispersique solent petiere permovissent memorabili montium eximendam ingenti et nulla celsorum avia civitatem distinebatur studio distinebatur periculo properabat latrones longius petiere.</p>
    </div>
    <div class="card text-center">
        <div class="card-header">
          Créez votre espace personnel
        </div>
        <div class="card-body">
          <p class="card-text">Pour commencer à utiliser le site, il vous suffit d'indiquer votre email</p>
          <a href="/register" class="btn btn-secondary">S'inscrire</a>
        </div>
    </div>

</div>
