    <div class="container">
      <div class="login">
          <form action="/register-save" class="px-4 py-3" method="post">
            <h1>Inscription</h1>
            <div class="form-group">
              <label for="exampleDropdownFormEmail1"> Adresse e-mail :</label>
              <input type="email" class="form-control" name="usr_email" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>

            <button type="submit" class="btn btn-primary">S'inscrire</button>
          </form>
        </div>
      </div>
